/* App.css */
.container {
  display: flex;
  align-items: center;
}

div > div {
  margin-right: 20px;
}

.overlay-image {
  position: absolute; /* Position absolue pour superposer l'image */
  top: 0; /* Positionnez l'image en haut du conteneur */
  left: 0; /* Positionnez l'image à gauche du conteneur */
  z-index: -100; /* Utilisez un index z pour la mettre au-dessus de l'élément existant */
}